/* blocks/image/image.css */

.block.image.image-block {
  text-align: center;
  margin: 1rem 0;
}

.block.image.image-block img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
